<div class="row">
  <div class="col-md-4">
    <div class="profile-sidebar">

      <%= render 'users/user' %>
      <!-- END SIDEBAR USER TITLE -->

      <!-- END SIDEBAR BUTTONS -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul class="nav">
          <li class="active">
            <a data-toggle="tab" href="#update_form">
              <i class="glyphicon glyphicon-home"></i>
              Update Profile </a>
          </li>
          <li>
            <a data-toggle="tab" href="#change_password_form">
              <i class="glyphicon glyphicon-user"></i>
              Change Password </a>
          </li>
          <li>
            <a data-toggle="tab" href="#cancel_account_form">
              <i class="glyphicon glyphicon-user"></i>
              Cancel Account </a>
          </li>
        </ul>
      </div>
      <!-- END MENU -->
    </div>
  </div>
  <div class="col-md-8 tab-content profile-sidebar">
    <div id="update_form" class="tab-pane fade in active">
      <div class="row">
        <div class="col-md-10">
          <%= render 'users/update_form' %>
        </div>
        <div class="col-md-4=2"></div>
      </div>
    </div>
    <div id="change_password_form" class="tab-pane fade">
      <div class="row">
        <div class="col-md-10">
          <%= render 'users/change_password_form' %>
        </div>
        <div class="col-md-4=2"></div>
      </div>

    </div>
    <div id="cancel_account_form" class="tab-pane fade">
      <div class="row">
        <div class="col-md-10">
          <%= render 'users/cancel_account_form' %>
        </div>
        <div class="col-md-4=2"></div>
      </div>

    </div>

  </div>
</div>