<div class="infomation row">
   
    <div class="logo-container col-md-2">
        <%= image_tag("kaisha_logo.png",alt: "company image")%>
        
    </div>
    
    <div class = "info col-md-7">
    	
		<h1 class="title">
		Episerver
		</h1>
		<span>
			<i class="fa fa-map-marker"></i>
			Dong Da, Ha Noi
		</span>
		
		<div class="company-info">
		<i class="fa fa-asterisk"></i>
			<span >
			Product
			</span>
			<i class="fa fa-user-o"></i>
			<span >
			51-150
			</span>
		
		
		<span class="name"><i class="fa fa-arrow-right"></i>Viet Nam</span>
	
		</div>
		<div class="working-date">
		<i class="fa fa-calendar"></i>
		<span>
		Monday - Friday
		</span>
		</div>
		<div class="overtime">
		<i class="fa fa-clock-o"></i>
		<span>
		No OT
		</span>
		</div>
    </div>
    <div class = "button col-md-3">
    	
    		<a class = "ibutton ibutton-red">Add a review</a>
    		<a class = "ibutton ibutton-white">Follow</a>
    </div>

</div>