<div class="panel panel-default company-ratings">
<div class="panel-heading">
<h3 class="panel-title">フィーチャーレビュー</h3>
</div>
<div class="panel-body disable-user-select">
<div class="review featured">
<a class="title" href="/companies/episerver/review">''幸せな職場環境''</a>
<br>
<span class="rating-stars-box">
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>

</span>

<div class="paragraph-review">
- 快適な作業環境、人的要因
- フレキシブルな作業時間
- 上司はスタッフ全員の精神的な生活に心配しています
- 1日に2回のフルーツと毎月のピザパーティー
- 従業員に圧力をかけないでください
</div>
</div>

<div class="review featured">
<hr>
<a class="title" href="/companies/episerver/review">''最高の実務経験''</a>
<br>
<span class="rating-stars-box">
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>

</span>
</span>

<div class="paragraph-review">
Episerver Vietnam is the kind of company I'm proud to say: "I'm working there", where I can be challenged without being stressful with endless overtime and pressure form bosses?  The professionalism and work-life balance are two of many reasons to...
</div>
</div>

<br>
<a class = "ibutton ibutton-red">レビューを書く</a>
</div>
</div>