<div class="panel panel-default company-ratings">
<div class="panel-heading">
<h3 class="panel-title">Feature Reviews</h3>
</div>
<div class="panel-body disable-user-select">
<div class="review featured">
<a class="title" href="/companies/episerver/review">''Môi trường làm việc hạnh phúc''</a>
<br>
<span class="rating-stars-box">
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>

</span>

<div class="paragraph-review">
- Môi trường làm việc thoải mái, đề cao yếu tố con người
- Thời gian làm viêc linh động
- Sếp quan tâm đến đời sống tinh thần của toàn thể nhân viên
- Có 2 bữa hoa quả mỗi ngày, và tiệc pizza hàng tháng
- Vì không tạo áp lực công việc lên nhân...
</div>
</div>

<div class="review featured">
<hr>
<a class="title" href="/companies/episerver/review">''The best working experience''</a>
<br>
<span class="rating-stars-box">
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>
<i class="default glyphicon glyphicon-star-empty small"></i>

</span>
</span>

<div class="paragraph-review">
Episerver Vietnam is the kind of company I'm proud to say: "I'm working there", where I can be challenged without being stressful with endless overtime and pressure form bosses?  The professionalism and work-life balance are two of many reasons to...
</div>
</div>

<br>
<a class = "ibutton ibutton-red">Add a review</a>
</div>
</div>