 <%= render "image" %>
 <%= render "infomation" %>
 <br>
 <div class= "row" >
 	<div class="col-md-8 overview-info">
 <%= render "overview" %>
 </div>
 <div class="col-md-4">
 <%= render "review" %>
 </div>
</div>