<div class="col-md-4 col-sm-4 col-xs-12">
  <li href="">
    <a href="#">
      <%= image_tag("ban-vien-co-ltd-logo-170-151.png", :alt => "rss feed") %>
    </a>
    <div class="property_details">
      <h1>
        <a href="#">ABCXYZ 会社</a>
      </h1>
      <h2>アドレス : .....</h2>
    </div>
  </li>
</div>