
<ul class="navigation">
	<li class="active navigation__item overview">
		<a href="#">概要</a>
		<div class="corner-bottom-right-overlay"></div>
		<div class="corner-bottom-right-curve"></div>
	</li>
	<li class="navigation__item review-tab disable">
		<a href="#">4 レビュー</a>
		<div class="corner-bottom-right-overlay"></div>
		<div class="corner-bottom-right-curve"></div>
		<div class="corner-bottom-left-overlay"></div>
		<div class="corner-bottom-left-curve"></div>
	</li>
	
</ul>

<div class="paragraph">
	<h3><%= @company.name%></h3>
<div class="trix-content">
  <%= @company.overview.html_safe %>
</div>
</div>
