

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 style="align-content: center">新会社</h1>
    <%= render 'form', company: @company %>
  </div>
</div>

<%= link_to 'Back', companies_path %>
