.background-1 {
	background-color : white;
}
.text-custom {
	margin-top: 0px;
	font-size: 150%;
	color : white !important;
}
.background-white {
	background-color : white !important;
}
#navtop {
	position: fixed;
 	top: 0px;
 	width: 100%;
 	height : 38px;
}
#logo {
	height: 50px ;
	width: auto ;
	margin-top: 25px;
}
#navbar-cus {
	margin-top: 5px;
}
.top-60 {
	margin-top : 60px;
}
#text-top {
	margin-top: 0px !important;
}
a:hover, a:focus {
    color: green !important;
    text-decoration: none !important;
}