<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスが変更されたことを通知する連絡をしています <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのメールアドレスが変更されたことを通知する連絡をしています <%= @resource.email %>.</p>
<% end %>
