<p>こんにちは <%= @resource.email %>!</p>

<p>過剰なログイン試行回数が原因でアカウントがロックされています.</p>

<p>下のリンクをクリックしてあなたのアカウントのロックを解除してください:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
