<section class="">
  <header>
    <div class="wrapper">
      <a href="/"><img src='/logo.png' alt="Smiley face" id="logo"></a>
      <nav>
        <ul>
          <li><a href="#">abc</a></li>
          <li><a href="#">xyz</a></li>
          <li><a href="#">123</a></li>
          <li><a href="#">456</a></li>
          <li><a href="#">789</a></li>          
          <% if !current_user %>
            <li ><%= link_to "Login",new_user_session_path %></li>
          <% else %>
            <li>
              <a href="#" role="button" aria-haspopup="true" aria-expanded="false" id ="text-top"><%= current_user.email %></a>
            </li>
            <li><%= link_to "Logout",destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header><!--  end header section  -->
</section><!--  end hero section  -->


