<section class="search">
  <div class="wrapper">
    <form action="#" method="post">
      <input type="text" id="search" name="search" placeholder="Search"  autocomplete="off"/>
      <input type="submit" id="submit_search" name="submit_search"/>
    </form>
  </div>
</section><!--  end search section  -->